@using PersonalSite.Shared
@using Microsoft.JSInterop;
@inherits BlazorLayoutComponent
@inject HttpClient Http

@page "/ContactMe"

@if(string.IsNullOrEmpty(inquiry.Id))
{

<div>
    <div>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" id="Name" class="form-control" bind="@inquiry.Name" required />
        </div>

        <div class="form-group">
            <label for="Subject">Subject</label>
            <input type="text" id="Subject" class="form-control" bind="@inquiry.Subject" required />
        </div>

        <div class="form-group">
            <label for="Message">Message</label>
            <textarea id="Message" rows="10" class="form-control" bind="@inquiry.Message" required />
        </div>

        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="Email" class="form-control" bind="@inquiry.Email" required />
        </div>

        <div class="form-group">
            <label for="Phone">Phone</label>
            <input type="tel" id="Phone" class="form-control" bind="@inquiry.Phone" />
        </div>

        <div class="form-group">
            <label for="MethodOfContact">Preferred Method of Contact</label>
            <select type="text" id="MethodOfContact" class="form-control" bind="@inquiry.PreferredMethodOfContact">
                <option value="@MethodOfContact.DoNotContact">Don't</option>
                <option value="@MethodOfContact.Phone">Phone</option>
                <option value="@MethodOfContact.Email">Email</option>
                <option value="@MethodOfContact.Other">Other</option>
            </select>
        </div>

        @if (inquiry.PreferredMethodOfContact == MethodOfContact.Other)
        {
            <div class="form-group">
                <label for="OtherMethod">Please Specify:</label>
                <input id="OtherMethod" type="text" bind="@inquiry.OtherMethodOfContact" />
            </div>
        }
    </div>

    <button type="button" class="btn btn-primary" onsubmit="@SubmitInquiry">Submit</button>
</div>
}
else{
    <div>Submitted! Inquiry ID: @inquiry.Id</div>
}

@functions{
    private enum TestEnum
    {
        test1,
        test2
    }
    Inquiry inquiry = new Inquiry();

    public async Task<Inquiry> SubmitInquiry()
    {
        //Validate form
        //JavaScriptRuntime.ExecuteAsync("validateInquiry");

        inquiry = await Http.PostJsonAsync<Inquiry>("api/inquiry/SubmitInquiry", inquiry);

        return inquiry;
    }
}